
body {
    background-color: #AEBDCA;
}
hr {border-color:black;}
h1{background-color:brown}
h2 {
    color: black
}
h3 {
    color: black
}
.rounded {
    flex: none;
    width: 200px;
    height: 250px;
    border-radius: 70%;
    
}
 